<nav class="navbar navbar-default">
    <div class="navbar-header">
       Ember-Sugar
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li>
          <button class="btn btn-danger log">Log out</button>
          <button class="btn btn-info log">Log In</button>
      </li>
    </ul>
</nav>
