<div align="center" style="border-style: solid; border-width: 1px">
<h3> Leads List </h3>
<table border="1px" width="100%">
<thead>
  <th align="center">
    Name
  </th>
  <th align="center">
    Status
  </th>
  <th align="center">
    Account Name
  </th>
  <th align="center">
    Phone
  </th>
  <th align="center">
    Email
  </th>
  <th align="center">
    User
  </th>
  <th align="center">
    Date Created
  </th>
  <th align="center">
    Date Modified
  </th>
</thead>
<tbody>
  {{#each data as |record|}}
  {{leads-page data=record}}
  {{/each}}
</tbody>
</table>
</div>
{{outlet}}
