<h2>Just confirming</h2>
<table>

    {{#each model as |mod|}}
    <tr>
      <td>
    {{mod.name}}
  </td>
    <td>
    {{mod.status}}
    </td>
    <td>
      {{mod.phone_work}}
    </td>
      </tr>

    {{/each}}


</table>
{{outlet}}
