<div width="200px" align="center" style="border-style: solid; border-width: 1px">
  <h2> Welcome! Please Login </h2>
    <br>Enter Username : {{input  type = "text" required='' placeholder = 'username' value = username}}
    <br>Enter Password : {{input  type = "password" required='' placeholder = 'password' value = password}}
    <br><button class="btn btn-primary" {{action "authenticate"}}> Login </button>
</div>
{{outlet}}
